.container {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: 0.5fr 2fr;
  grid-gap: 10px;
  align-items: center;
}

header {
  grid-column: 1/3;
  grid-row: 1/1;
  text-align: center;
  padding: 2px;
  background: rgb(255, 190, 190);
}

aside {
  grid-column: 1/1;
  grid-row: 2/3;
  background: rgb(213, 190, 255);
}
main {
  grid-column: 2/3;
  grid-row: 2/3;
  background: #8ee9b4
}

#headerLogo {
  width: 35px;
  float: left;
}

#button-left-alignment {
  float: right;
}

.course {
  border: solid black;
  /* width: 150px; */
  display: inline-block;
  margin: 10px;
  padding: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06d85f;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
  }
}
