<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="theme-color" content="#FFFFFF">
    <link rel="apple-touch-icon" href="icons/180x180.png">
    <link rel="stylesheet" type="text/css" href="./css/styles.css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <link rel="manifest" href="cw2_3145.webmanifest">
    <script src="./js/vue.js" defer></script>
    <script src="./js/userForm.js" defer></script>
    <script src="img/data.js" defer></script>
    <title>cw1_3145</title>
</head>
<body>
<div class="container">
    <header>
        <div id="userForm">
            <div id="popup1" class="overlay">
                <div class="popup">
                    <h2>Sign Up</h2>
                    <a class="close" href="#">&times;</a>
                    <div class="content">
                        <form id="signUp">
                            <p>type:</p>
                            <div>
                                <input
                                        id="user"
                                        type="radio"
                                        name="userType"
                                        value="user"
                                        v-model="userType"
                                />
                                <label for="user">User</label>
                            </div>

                            <div>
                                <input
                                        id="provider"
                                        type="radio"
                                        name="userType"
                                        value="provider"
                                        v-model="userType"
                                />
                                <label for="provider">Provider</label>
                            </div>
                            <br/><br/>
                            <label for="email">email: </label>
                            <input
                                    required
                                    type="email"
                                    id="SignUpEmail"
                                    v-model="email"
                                    autocomplete="current-password"
                            />
                            <br/><br/>
                            <label for="password">password: </label>
                            <input
                                    required
                                    type="password"
                                    id="SignUpPassword"
                                    v-model="password"
                                    autocomplete="current-password"
                            />
                            <br/><br/>
                            <button @click="signUp">submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div id="popup2" class="overlay">
                <div class="popup">
                    <h2>Log In</h2>
                    <a class="close" href="#">&times;</a>
                    <div class="content">
                        <form id="login" @submit="logIn" action="/index.html">
                            <label for="email">email: </label>
                            <input
                                    required
                                    type="email"
                                    id="email"
                                    v-model="email"
                                    autocomplete="username"
                            />
                            <br/><br/>
                            <label for="password">password: </label>
                            <input
                                    required
                                    type="password"
                                    id="password"
                                    v-model="password"
                                    autocomplete="current-password"
                            />
                            <br/><br/>
                            <button type="submit">submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="header-template">
            <page-header></page-header>
        </div>
    </header>
    <aside>
        <div id="searchFilter">

            <!-- search -->
            Search <input v-model='term'><br><br>
            <!-- sort -->
            <select v-model="selected">
                <option disabled>Sort By:</option>
                <optgroup label="Topic">
                    <option>A - Z</option>
                    <option>Z - A</option>
                </optgroup>
                <optgroup label="Price">
                    <option>Low - High</option>
                    <option>High - Low</option>
                </optgroup>
                <optgroup label="Reviews">
                    <option>5 & Others</option>
                </optgroup>
            </select>
            <!-- filter -->
            <select multiple v-model='userTopics'>
                <option v-for='topic in topics'>
                    {{topic}}
                </option>
            </select>

            <select multiple v-model="userPrices">
                <option v-for="price in prices">
                    {{price}}
                </option>
            </select>
            <button v-on:click='reset'>reset</button>
        </div>
    </aside>
    <main>
        <button id="notifications">Allow Notifications</button>
        <div id="results">
            <!-- results -->
            <div v-for='course in results' class='course'>
                <div>
                    <img src="img/placeholder.png" :data-src="'img/'+ course.topic +'.png'" :alt="course.topic"
                         width="100x100">
                </div>
                <div>
                    <label>Topic</label>
                    <input v-model="course.topic" :disabled="!course.isEditing" :class="{view: !course.isEditing}">
                </div>
                <div>
                    <label>Price</label>
                    <input v-model="course.price" :disabled="!course.isEditing" :class="{view: !course.isEditing}">
                </div>
                <div>
                    <label>Location</label>
                    <input v-model="course.location" :disabled="!course.isEditing"
                           :class="{view: !course.isEditing}">
                </div>
                <div>
                    <label>About</label>
                    <input v-model="course.about" :disabled="!course.isEditing" :class="{view: !course.isEditing}">
                </div>
                <div>
                    <label>Provider</label>
                    <input v-model="course.email" disabled :class="{view: !course.isEditing}">
                </div>
                <div>
                    <label>Ratings</label>
                    <div v-if="course.email !== currentEmail">
                        <select v-model="selectedRating">
                            <option selected disabled value="">Rating:</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        <button @click="rate(course._id, currentEmail, selectedRating)">Rate</button>
                    </div>
                    <div v-if="course.rating.length === 0">
                        <p>No Rating</p>
                    </div>
                    <div v-else>
                        <select>
                            <option v-for="userScore in course.rating">{{userScore.user}}: {{userScore.score}}</option>
                        </select>
                    </div>
                    <button @click="resetRating(course._id)">Reset</button>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
<script src="app.js" defer></script>
<script defer>

    // Loading on demand
    let imagesToLoad = document.querySelectorAll('img[data-src]');
    console.log(imagesToLoad);
    const loadImages = (image) => {
        image.setAttribute('src', image.getAttribute('data-src'));
        image.onload = () => {
            image.removeAttribute('data-src');
        };
    };

    if ('IntersectionObserver' in window) {
        const observer = new IntersectionObserver((items, observer) => {
            items.forEach((item) => {
                if (item.isIntersecting) {
                    loadImages(item.target);
                    observer.unobserve(item.target);
                }
            });
        });
        imagesToLoad.forEach((img) => {
            observer.observe(img);
        });
    } else {
        imagesToLoad.forEach((img) => {
            loadImages(img);
        });
    }
</script>
</html>
