<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" type="text/css" href="./css/styles.css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src="./js/vue.js" defer></script>
    <script src="./js/userForm.js" defer></script>
    <script src="./js/provider.js" defer></script>
    <title>cw1_3145 - Provider</title>
</head>

<body>
<div class="container">
    <header>
        <div id="header-template">
            <page-header></page-header>
        </div>
        <div id="userForm">
        </div>
    </header>
    <aside>
        <div id="filter" v-show="false"></div>
    </aside>
    <main>
        <form id="provider-add" @submit.prevent="addClass">
            <div>
                <label for="topic">Topic</label>
                <input
                        id="topic"
                        required
                        type="text"
                        name="topic"
                        value="topic"
                        v-model="topic"
                />
            </div>
            <div>
                <label for="location">Location</label>
                <input
                        id="location"
                        required
                        type="text"
                        name="location"
                        value="location"
                        v-model="location"
                />
            </div>
            <div>
                <label for="price">Price</label>
                <input
                        id="price"
                        required
                        type="number"
                        name="price"
                        v-model="price"
                />
            </div>
            <div>
                <label for="about">About</label>
                <textarea
                        id="about"
                        name="about"
                        value="about"
                        v-model="about"
                        placeholder="Time and length, i.e., when is the class/activity (such as 4pm every weekdays) and how long it is (such as 1 hour)."
                ></textarea>
            </div>
            <button type="submit">Add Class or Activity</button>
        </form>
        <div id="providerView">
            <button @click="filterCoursesByEmail">Load Courses</button>
            <form @submit.prevent v-for="course in courses" class="course" :id="course._id">
                <div>
                    <label>Topic</label>
                    <input v-model="course.topic" :disabled="!course.isEditing" :class="{view: !course.isEditing}">
                </div>
                <div>
                    <label>Price</label>
                    <input v-model="course.price" :disabled="!course.isEditing" :class="{view: !course.isEditing}">
                </div>
                <div>
                    <label>Location</label>
                    <input v-model="course.location" :disabled="!course.isEditing" :class="{view: !course.isEditing}">
                </div>
                <div>
                    <label>About</label>
                    <input v-model="course.about" :disabled="!course.isEditing" :class="{view: !course.isEditing}">
                </div>
                <div>
                    <label>Provider</label>
                    <input v-model="course.email" disabled :class="{view: !course.isEditing}">
                </div>
                <div>
                    <label>Rating</label>
                    <div v-if="course.rating = []">
                        <input :class="{view: !course.isEditing}" disabled value="No Rating">
                    </div>
                    <div v-else>
                        <input v-model="course.rating" disabled :class="{view: !course.isEditing}">
                    </div>
                </div>
                <div>
                    <button v-if="!course.isEditing" @click="editCourse(course)">Edit</button>
                    <button v-if="course.isEditing" @click="saveCourse(course)">Save</button>
                    <button @click="removeCourse(course)">Remove</button>
                </div>
            </form>
        </div>
    </main>
</div>
</body>
</html>
